ion-content {
  ion-toolbar {
    padding-top: 0 !important;
  }

  ion-card {
    margin: 16px 0;
  }
}

ion-footer {
  background: var(--ion-color-light-shade);
  padding: 16px;

  &::before {
    display: none;
  }

  &.md {
    border-radius: 8px 8px 0 0;
  }

  &.ios {
    border-radius: 16px 16px 0 0;
    padding-bottom: 32px;
  }
}
