<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TODO
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary"
                  (click)="addItem()">
        <ion-icon slot="icon-only"
                  ios="add-circle-outline"
                  md="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        TODO
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let item of todoList">
    <ion-card>
      <div class="spinner-wrapper"
           *ngIf="!item.active">
        <ion-spinner></ion-spinner>
      </div>

      <span *ngIf="item.active">
        <ion-card-header>
          <ion-checkbox (ionChange)="updateListItem(item)"
                        color="primary"></ion-checkbox>
          <ion-card-title>
            {{ item.title }}
          </ion-card-title>
          <ion-card-subtitle>
            {{ item.date | date: 'EEEE - dd MMMM yyyy' }}
            {{ item.time | date: 'HH:mm' }}
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-text *ngIf="item.description">
            {{ item.description }}
          </ion-text>
        </ion-card-content>
      </span>
    </ion-card>


  </div>

</ion-content>
